.userBox {
  background-color: white;
  width: 18em;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 7px var(--shadow);
  font-size: 1em;
  .img {
    margin: 0.5em;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .details {
    width: 100%;
    text-align: start;
    margin: 0.5em 0.5em 0.5em 0;
    font-size: 0.8em;
    color: var(--primary);
    .name {
      font-weight: 600;
      margin: 0.2em;
    }
    .genderMale {
      margin: 0.2em;
      color: #eedc42;
    }
    .genderFemale {
      margin: 0.2em;
      color: #a7d6eb;
    }
    .status {
      margin: 0.2em;
    }
  }
}
