.container {
  width: 100%;
  height: 100%;
}

.allBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.params {
  padding: 2.5em 1em 1em 1.5em;
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  display: flex;

  .search input {
    height: 2.2em;
    width: 9em;
    border-radius: 0.4em;
    border: none;
    box-shadow: 1px 1px 5px var(--shadow-light);
    outline: none;
    &:hover {
      background-color: var(--hover);
    }
    &::placeholder {
      padding-left: 0.4em;
    }
  }

  .search button {
    height: 2.5em;
    background-color: var(--second);
    border: none;
    top: 50px;
    margin: 0em 1em 0em 0.4em;
    width: 5em;
    border-radius: 0.5em;
    &:hover {
      background-color: var(--second-dark);
    }
    i {
      color: white;
      padding-top: 0.2em;
    }
  }

  .options select {
    height: 2.4em;
    margin: 0em 1em 1em 0em;
    border-radius: 0.5em;
    padding: 0em 0.5em 0em 0.5em;
    box-shadow: 1px 1px 7px var(--shadow-light);
    outline: none;
    border: none;
    &:hover {
      background-color: var(--hover);
    }
  }

  .addFilter input {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
    align-items: center;
    border: 0.5px solid white;
    box-shadow: 1px 1px 7px var(--shadow-light);
    border: none;
    height: 2.3em;
    width: 70%;
    outline: none;
    &:hover {
      background-color: var(--hover);
    }
    &::placeholder {
      text-align: center;
    }
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  .add {
    margin-top: 0.5em;
    a {
      box-shadow: 1px 1px 7px var(--shadow-light);
      border-radius: 0.5em;
      background-color: transparent;
      cursor: pointer;
      text-align: center;
      padding: 0.5em 1em 0.5em 1em;
    }
  }
  .add a:hover {
    background-color: var(--second);
    color: white;
    transition: 0.3s ease;
  }
  .add a:active {
    background-color: var(--second);
    color: white;
  }
}
