<div class="container">
  <div class="params">
    <div class="left">
      <div class="search">
        <input type="text" placeholder="Search" />
        <button type="button">
          <i class="bx bx-search"></i>
        </button>
      </div>
      <div class="options">
        <select>
          <option value="">Filter By Parameters:</option>
          <option value="active">Only Active</option>
          <option value="inactive">Only Inactive</option>
        </select>
      </div>
      <div class="addFilter">
        <i class="bx bx-plus"></i>
        <span>Add Filter</span>
      </div>
    </div>
    <div class="right">
      <div class="add">
        <a (click)="onAdd()">
          <span>Add Employee</span>
        </a>
      </div>
    </div>
  </div>

  <div class="allBoxes">
    <app-user-box *ngFor="let userEl of users" [user]="userEl"></app-user-box>
  </div>
</div>
