<div class="nav" #nav>
  <div class="header">
    <div class="logo">
      <i class="bx bxs-car-mechanic"></i>
    </div>
    <h1>TEGETA MOTORS</h1>
  </div>

  <ul class="list">
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-home"></i>
        <span class="list_item">Home</span>
      </a>
    </li>
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-tachometer"></i>
        <span class="list_item">Dashboard</span>
      </a>
    </li>
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-coin-stack"></i>
        <span class="list_item">Finance</span>
      </a>
    </li>
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-car"></i>
        <span class="list_item">Parking</span>
      </a>
    </li>
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-food-menu"></i>
        <span class="list_item">Documents</span>
      </a>
    </li>
    <li>
      <a (click)="onEmployee()">
        <i class="bx bxs-group"></i>
        <span class="list_item">Employees</span>
      </a>
    </li>
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-wrench"></i>
        <span class="list_item">Services</span>
      </a>
    </li>
    <li>
      <a (click)="onHome()">
        <i class="bx bxs-id-card"></i>
        <span class="list_item">Customers</span>
      </a>
    </li>
    <div class="btn">
      <a (click)="onButton()">
        <i class="bx bxs-caret-right-circle"></i>
      </a>
    </div>
  </ul>
</div>
