#container {
  position: fixed;
  top: 5em;
  right: 3em;
  width: 9em;
  height: 4em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  box-shadow: 1px 1px 7px var(--shadow);
}
.notification div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification.success {
  color: var(--second);
}

.notification.error {
  color: var(--fourth);
}

.notification div i {
  font-size: 2em;
}

.notification div span {
  margin-left: 0.3em;
}

//Animation
#container {
  right: -10em;
  animation: slide 1.2s ease forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateX(-13em);
  }
  100% {
    transform: translateX(-12.5em);
    opacity: 1;
  }
}
