<div class="container">
  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h1>Image Upload?</h1>
    <div class="field">
      <label for="name">Name </label>
      <br />
      <input type="text" id="name" [formControlName]="'name'" /> <br />
      <sup
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
        >* Invalid Name
      </sup>
    </div>
    <div class="field">
      <label for="id">ID</label>
      <br />
      <input type="text" id="id" [formControlName]="'id'" /> <br />
      <sup *ngIf="userForm.get('id')?.invalid && userForm.get('id')?.touched"
        >* Invalid Name
      </sup>
    </div>
    <div class="field">
      <label for="email">Email</label> <br />
      <input type="text" id="email" [formControlName]="'email'" /> <br />
      <sup
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
        >* Invalid Email
      </sup>
    </div>
    <div class="field">
      <label for="gender">Gender</label>
      <div class="radio">
        <div class="inputRadio">
          <input
            type="radio"
            value="male"
            name="gender"
            id="male"
            [formControlName]="'gender'"
          />
          <label for="male" class="val">Male</label>
        </div>
        <div class="inputRadio">
          <input
            type="radio"
            value="female"
            name="gender"
            id="female"
            [formControlName]="'gender'"
          />
          <label for="female" class="val">Female</label>
        </div>
      </div>
    </div>
    <div class="field">
      <label for="status">Status</label>
      <div class="radio">
        <div class="inputRadio">
          <input
            type="radio"
            value="active"
            name="status"
            id="active"
            [formControlName]="'status'"
          />
          <label for="active" class="val">Active</label>
        </div>
        <div class="inputRadio">
          <input
            type="radio"
            value="inactive"
            name="status"
            id="inactive"
            [formControlName]="'status'"
          />
          <label for="inactive" class="val">Inactive</label>
        </div>
      </div>
    </div>
    <sup *ngIf="userForm.invalid && userForm.touched" style="color: red"
      >Invalid Form
    </sup>
    <br />
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
